*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --primary:#1b3039;/*color azul oscuro letras de mi nombre y circulo perfil*/
    --secondary: #ffffff;/*blanco*/
    --tre:#f20f0f;/*rojo*/
    --secondary-light:rgb(173,173,173);
    --dark1:#1b3039;/*MISMO COLOR DE LA BARRA DONDE APARECE INICIO Y TODO*/
    --dark2:#2574DB ;/*celeste claro color de fondoo entero--------------------*/
    --dark3:#18359e;/*Azul normal*/
    --op1:#379960;/*verde claro*/
    --op2:#1B42A1;/*azul sin brillo*/
    --transition: color 0.1s, background-color 0.2s ease-in-out;
    --skillss-bar-length:0%;
    
}
/*inicio preloader*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preloader:before {
  content: "";
  border: 16px solid #3498db; /* Color del borde superior */
  border-radius: 50%; /* Forma circular */
  width: 120px; /* Tamaño del preloader */
  height: 120px; /* Tamaño del preloader */
  animation: spin 2s linear infinite; /* Animación de giro */
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Rotación inicial */
  100% { transform: rotate(360deg); } /* Rotación completa */
}
/*fin preloader*/
/*INICIO degradado
.selector {
  background-image: linear-gradient(to right, #ff0000, #0000ff);
}
fin degradado*/
/*inicio barra conocimientos*/
.column{
    display:grid;
    gap: 0.5em;
 }
@media screen and (min-width: 720px){
    .column--right{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat (3, min-content);
    }
}
.skillss{
    padding: 1em 0;
}
.skillss__item{
    display :flex;
    aling-items:center;
    justify-content: space-between;
}
.skillss__bar,
.skillss__bar::after {
    position:relative;
    width:175px;
    height:8px;
    background-color: #888;
    border-radius: var(--op1);
}
/*relleno de barra*/
.skillss__bar::after{
    content: "";
    position: absolute;
    left: -175px;
    background-color: var(--op1);
    transition: var(--transition);/*este creo que no lo tengo xd*/
}
.skillss__bar--10::after{
    --skillss-bar-length:10%;
}
.skillss__bar--20::after{
    --skillss-bar-length:20%;
}
.skillss__bar--30::after{
    --skillss-bar-length:30%;
}
.skillss__bar--40::after{
    --skillss-bar-length:40%;
}
.skillss__bar--50::after{
    --skillss-bar-length:50%;
}
.skillss__bar--60::after{
    --skillss-bar-length:60%;
}
.skillss__bar--70::after{
    --skillss-bar-length:70%;
}
.skillss__bar--80::after{
    --skillss-bar-length:80%;
}
.skillss__bar--90::after{
    --skillss-bar-length:90%;
}
.skillss__bar--100::after{
    --skillss-bar-length:100%;
}



@keyframes skills-bar-fill{
    to{
        transform : traslateX(var(--skillss-bar-length));
       }
}


/*fin barra conocimientos*/
.navbar{
    display: flex;
    justify-content: center;
}
.navbar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
/*nueba barra version 2*/
.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .nav-links{
    list-style:none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links a{
    font-size: 700;
    color: rgb(251, 251, 251);
    text-decoration: none;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links li a:hover{
    color: #6dedb6;
}
/*FIN nueba barra version 2*/
.navbar a {
    font-size: 1.5rem;/*originl =1.5rem*/
    padding: 10px;/*10 original*/
    color:var(--primary);/*oroginal tree*/
    margin: 20px;/*20 original*/
}
.navbar a:hover{
    border-bottom: var(--primary)solid;/*no modificar*/
    text-decoration: none;
}
.hero{
    background-color: var(--dark2);
    position: relative;
}
.hero img{
    width: 100%;
    height: 530px;
    opacity: 0.32;
}
.profile div{
    position: absolute;
}
.profile{
    display: flex;
    justify-content: center;
}
.square{
    width: 650px;
    height: 480px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 110px;
    border-radius: 10px;
}
.circle-trans{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var (--primary);
    opacity: .2;
    z-index: 19;
    top:90px;
}
.circle{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 230;
    top: 120px;
}
.profile-img{
    top: 136px;
    z-index: 30;
}
.profile-img img{
width: 252px;
height: 242px;
border-radius: 120px;
}
.profile-img-mensaje img{
    width: 252px;
    height: 242px;
    border-radius: 120px; 
}
.square-text{
    font-size: 1.9rem;
    color: var(--secondary);
    top: 405px;
    z-index: 11;
}
.square-text-2{
    font-size: 1rem;
    color: var(--op1);
    top:450px;
    z-index: 11;
}
.square-text-3{
    font-size: 1.3rem;
    color: var(--tre);
    top:500px;
    z-index: 11;
    text-decoration: none;
}
.square-text-3:hover{
    border-bottom: var(--primary)solid;
    text-decoration: none;
}
.contact-icon{
    top : 500px;
    z-index: 20;
    text-decoration: none;
}
.contact-icon img{
    width: 50px;
    margin: 0 10px;
    text-decoration: none;
}
body{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary); 
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
span {
    color: var(--secondary);/*--primary  secondary es blanco*/
}
.contact-icon img:hover {
    transform: scale(1.2);
}
.briefcase{
    background-color: var(--op2);/*color de fondo Portafolio*/
}
.briefcase-section h2{
    padding: 40px;
    text-align: center;
}
.briefcase-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}
.briefcase-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.briefcase-grid img:hover{
    transform: scale(1.1);
}
/*skill*/
section.skills {
    background-color: var(--dark1);
}
.skill{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 170px;
    width: 90%;
    margin: 0;
    padding-bottom: 110px;
    text-align: center;/*AÑADIDO PARA CENTRARRRRR*/
}
section.perlas {
    background-color: var(--dark1);
}
.perla{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 170px;
    width: 90%;
    margin: 0;
    padding-bottom: 110px;
}
.skill h2{   
    padding-bottom: 60px;
    /*editadoooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
    color: #FFFFFF;/*blanco*/
}
.skill h3{
    background-color: var(--op1);
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    color:var(--primary);
    opacity: 0;
    transform: translate(0px,-100px);
    transition: transform 0.4s ease, opacity 0.4s ease;
}
.knowledge>div:hover h3
{
    opacity: 1;
    transform: translate(0px,-150px);
}
.tools>div:hover h3
 {
    opacity: 1;
    transform: translate(0px,-150px);
}
.skill img{
    width: 90px;
}
.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,auto));
    justify-content: center;
    gap: 25px;
}
.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,auto));
    justify-content: center;    
    gap:50px;
}
.mi-parrafo {
    color: var(--secondary);
    font-size: 20px;
    font-weight: normal;
}
.mi-titulo {
    color: var(--op1);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
.about{
    background-color: #1b3039;
}
.about-flex{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 200px;
}
.about p {
    font-size: 1.5 rem;
    width: 90%;
    margin: 0 auto;
    line-height: 2.5 rem;
    color: var(--secondary-light);
}
.social {
    border-left: #756efa;
    padding-left: 50px;/*original= 50px*/
}
.social img {
    width: 60px;/*original =60*/
    margin: 10px;/*original 10px*/
}
.social img:hover{
    transform:scale(1.2);/*original = 1.2*/
}
footer{
    background-color: var(--dark2);
    text-align: center;
    color:var(--secondary-light)
}
.icon-elements{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-bottom: 200px;
}
.icon-elements img:hover{
    transform: scale (1.2);
}
.icon-elements a{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}
.icon-elements img{
    width: 70px;
}
.icon-elements span:hover{
    color:var(--op1);
}
/*añadido*/
.mi-boton {
    border: none;
    background-color: var(--op1);
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;/*acultar line del link*/
}
.mi-boton:hover {
    background-color:#18db86;/*era azul*/
    color:  #050505;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}
/*fin añadido*/
.mi-boton2{
    border:none;
    text-decoration: none;
}
/*Nueba barra*/

/*opcin 2 prueba diseño imagenens */
.contenedor-hijo {
    position: relative;
    width: 100%; /* Puedes ajustar el ancho según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center; /* Opcional para centrado vertical */
  }
.slider {
    aspect-ratio: 10 / 16;
    width: 300px;/*300*/
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x  mandatory;
}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;/*efecto*/
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}
/*fin opcion 2*/




